@tailwind base;
@tailwind components;
@tailwind utilities;

.table-striped {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.table-striped td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
  
}
.table-striped td{
border: 1px solid black;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  height: auto;
  background-color: yellowgreen;
}
.navbar-button {
  height: 10px;
  background-color: yellowgreen;
  border: #02090c;
  padding: auto;
  margin-right: auto;
  margin-left: auto;
}

.form-row {
  margin-left: 10%;
}
.form-group {
  margin-left: 20%;
}
.form-group button {
  margin-left: 20%;
  margin-top: 5%;
}
.form-row button {
  margin-top: 5%;
  margin-left: 50%;
}
.form-row h2 {
  text-align: center;
}
table table-striped {
  width: 50%;
}
.table table-striped {
  table-layout: fixed;
  width: 20px;
}

td {
  border: 1px solid black;
  text-align: center;
}
.table-design {
  width: 90%;
  margin-left: 100px;
  margin-right: 100px;
}
.navbar-button {
  padding: 1.825rem;
  font-family: font-mono;
  margin-right: auto;
  margin-left: auto;
}
.navbar-button:hover {
  background-color: rgb(159, 230, 18);
}


.fontsty {
  margin-bottom: 1px;
  background-color: #4ebce5;
  display: inline-block;
  margin: 1%;
  height: auto;
  width: 10%;
  border-radius: 50px 20px;
}

.fontsty h4 {
  color: #faf3f3;
  font-size: 25px;
  margin-top: 20px;
  text-align: right;
  margin-right: 50px;
}

.container{
  margin-top: 5%;
  width: 100%;
  flex-direction: row;
  display: flex;

}
.salaryTable{
  display: flex;
  width: 100%;
}
.form-group{
  width: 100%;
  margin-left: -1%;
  display: flex;
border-radius: 70%;}